@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*
------------------------------
 GLOBAL styles
------------------------------
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-light: hsl(212, 45%, 89%);
  --bg-grayish: hsl(220, 15%, 55%);
  --bg-dark: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
}

/*
------------------------------
 PAGE styles
------------------------------
*/
.container {
  display: grid;
  place-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--bg-light);
}

.card {
  display: grid;
  row-gap: 15px;

  max-width: 37.5rem;
  padding: 2rem;
  background-color: var(--bg-white);
  border-radius: 20px;
}

.card__header {
  overflow: hidden;
  border-radius: 20px;
  font-weight: 700;
}

.card__main {
  display: grid;
  row-gap: 2rem;
  text-align: center;
}

.card__title {
  font-size: 2rem;
  letter-spacing: 0.5px;
}

.card__text {
  letter-spacing: 0.5px;
  opacity: 0.7;
}
